<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>add product</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="pro_id" id="" placeholder="product id">
        <input type="text" name="name" id="" placeholder=" Name ">
        <input type="number" name="price" id="" placeholder="price">
        <input type="number" name="offer_price" id="" placeholder="offer_price">
        <input type="file" name="img" id="">
        <input type="text" name="dis" id="" placeholder="discription ">
        <input type="submit" value="add">
    </form>
</body>
</html>